<!DOCTYPE html>
<html lang="en">
<head>
  {% include './bootstrap.html' %}
  <meta charset = "utf-8" />
        <title>
            Dk Careers Admin
        </title>
          
        <!-- add icon link -->
        <link rel = "icon" href = 
"https://cdn-icons-png.flaticon.com/512/1754/1754397.png" 
        type = "image/x-icon">
</head>
<body style="background-image:url('https://static.vecteezy.com/system/resources/previews/002/058/253/non_2x/abstract-polygonal-white-background-free-vector.jpg'); background-size: cover; ">
    <div class="container object-center" style="margin-top: 10rem;" >
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Add New Job Opening</h5>
                <p class="card-text">Add a new Job Opening for the Job Seekers in the Database</p>
                <a href="/add__new_job" class="btn btn-primary">Add</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">See All jobs From Database</h5>
                <p class="card-text">See all the job openings From the Job Seekers perspective</p>
                <a href="/home" class="btn btn-primary">See All Jobs</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">Update a Job</h5>
                <p class="card-text">Make Changes in any of the Job Opening details and check the changes on home page</p>
                <a href="/update_job" class="btn btn-primary">Update the jobs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center text-lg-start mt-4 pt-2 position-absolute top-0 end-0">
        <button type="button" class="btn btn-dark btn-floating">
          <i class="fa-solid fa-user-tag"></i>
        </button><br>
        <a href="/logout_admin" class="link-primary" style="margin-left: -0.5rem;">Logout</a>
        </div>
</body>
</html>
