{% include '././bootstrap.html' %}
<form class="vh-100" style="background-color: #2779e2;" method="post" action="/submit_new_job">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h2 class="text-white mb-2">Submit the New Job Info</h2>
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Title</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" placeholder="Software Engineer or Data Analyst or Web Developer" name="title" required/>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Location</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" placeholder="Delhi or Hyderabad" name="location" required/>
  
                </div>
                
              </div>

              
  
              <hr class="mx-n3">

              <div class="row align-items-center py-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Salary</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="number" class="form-control form-control-lg" placeholder="150000 or 200000" name="salary" required/>
  
                </div>
                
              </div>
              <div class="row align-items-center py-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Currency</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" class="form-control form-control-lg" placeholder="Rs or $" name="currency" required/>
  
                </div>
                
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Responsibilities</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" placeholder="Design, develop, and maintain software solutions" name="responsibilities"></textarea>
  
                </div>
              </div>

              <div class="row align-items-center py-2">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Requirements</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" placeholder="Familiarity with Git and version control" name="requirements"></textarea>
  
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </form>